.selection {
  text-align: center;
}
.select-text {
  font-size: 40px;
}
.select-button {
  border: 0;
  border-radius: 23px;
  height: 200px;
  margin: 10px;
  padding: 25px;
}
.select-button img {
  width: 180px;
  max-height: 100px;
}
.select-button p {
  margin: 10px 0 0 0;
}
.select-button.selected {
  background-color: #aeffb4;
}
.select-price-button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.select-price-button.selected {
  background-color: #aeffb4;
}
.big_padding_top {
  padding: 10% 0 0 0;
}
.get-prices {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.get-prices.disabled {
  cursor: not-allowed;
  background: grey;
  color: rgb(85, 81, 81);
}
.flexcontainer {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.arrow-back {
  max-width: 40px;
  margin: -5px 20px -5px 0;
}
.shown-phone {
  width: 300px;
  margin: 5px 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
}
.shown-phone p {
  color: black;
  margin: 5px;
  margin: 5px 0;
}
.shown-phone .phone-price {
  font-size: 30px;
  margin: 10px 0;
  color: #57915b;
}
.shown-phone .phone-link {
  margin: 10px 0;
}
.shown-phone img {
  max-width: 250px;
}
