.selection {
  text-align: center;
}

.select-text {
  font-size: 40px;
}

.select-button {
  border: 0;
  border-radius: 23px;
  height: 200px;
  margin: 10px;
  padding: 25px;
}
.select-button img {
  width: 180px;
  max-height: 100px;
}
.select-button p {
  margin: 10px 0 0 0;
}
.select-button.selected {
  background-color: #aeffb4;
}
.select-price-button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.select-price-button.selected {
  background-color: #aeffb4;
}
.big_padding_top {
  padding: 10% 0 0 0;
}
.get-prices{
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
